{% extends "base.html" %}

{% block content %}

<div class="conteiner flex-wrap"  >
	<div class="post desk" >
		<h4 class=" azul center" >Eletricista</h4>
		<b >Requisitos:</b>
		<p class="reqs" >
			lorehsh shsvsj jjvjh jvhh juyy hhhhh hhhhhy bbjkk nnkkk jjjjj nnkkk jjj kjkijij uuuu uuu jj jjj uu uu uu u udbsjzud jsud7s hdhs    jkjjjjjjjjjjh</i>
		</p>
		<p>
			<b >Empresa:</b> Shazam Auto Elétrica<br>
			<sub><b>Salário:</b><span > R$ 1.500,00</span></sub><br>
			<sub><b >Vagas:</b><span> 1</span></sub><br>
			<sub><b >E-mail para contato:</b><br>
			<span> ethodomingues@gmail.com</span></sub>
		</p>
		<h6><span class="green">Disponível ✓</span></h6>
	</div>
</div>


{% endblock %}