{% extends "base.html" %}

{% block content %}

<div class="conteiner flex-wrap"  >
	<div class="post desk" >
		<h4 class=" azul center" >{{vaga.nome}}</h4>
		<b >Requisitos:</b>
		<p class="reqs" >
			{{vaga.requisitos}}
		</p>
		<p>
			<b >Empresa:</b>{{vaga.empresa}}<br>
			<sub><b>Salário:</b><span >{{vaga.salario}}</span></sub><br>
			<sub><b >Vagas:</b><span>{{vaga.vagas}}</span></sub><br>
			<sub><b >E-mail para contato:</b><br>
			<span>{{vaga.email}}</span></sub>
		</p>
		{% if vaga.disponível%}<h6><span class="green">Disponível ✓</span></h6>{%endif%}
	</div>
</div>


{% endblock %}