{% extends 'base.html' %}

{% block content %}
	<div><br>
	{%if vagas %}
		{% for vaga in vagas %}
			<h3 class="center" >{{vaga.data}}</h3>
			<div class="conteiner flex flex-wrap" >

					<div class="post" >
						<h4 class=" azul center" >{{vaga.nome}}</h4>
						<div class="post_type">
							{% if vaga.categoria %}
							<p>
								<b>Tipo:</b>
								{{vaga.categoria}}
							</p>
							{% endif %}
							{% if vaga.vagas%} <p><b>Vagas: </b>{{vaga.vagas}}</p>{% endif %}
							<em><b>Cidade:  </b>{{vaga.cidade}}/{{vaga.estado}}</em>
							<em><b>Empresa: </b>{{vaga.empresa}}</em>
							<em><b>Salário: </b>{{vaga.salario}}</em>
					
						</div>
						<p class="center" ><a class="btn" href="/descricao/{{vaga.id}}" >visualizar</a></p>
					</div>
			</div><hr><br>
		{% endfor %}
	{% endif %}
	</div>
{% endblock content %}